# Python venv
.venv/
__pycache__/
*.pyc
.env


# VSCode
.vscode/

# Revit SDK y archivos demasiado largos
Revit-Agent/agent-revit-repos/
*.docx
*.pdf

# Otros binarios/librerías temporales
*.log
*.sqlite3
*.db


Revit-Agent/agent-revit-repos/
Revit-Agent/agent-revit-rm/
Revit-Agent/agent-revit-plugin/Revit_Agent_GPT_FT
Revit-Agent/agent-revit-plugin/Revit_Api_Extractor